services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: saumrs-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
    networks:
      - saumrs-network
    command: npm run dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: saumrs-frontend
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:3000
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/index.html:/app/index.html
    networks:
      - saumrs-network
    command: npm run dev

networks:
  saumrs-network:
    driver: bridge
